/* Styles for the Buy Mobile App page */

/* Add specific styles for elements unique to the Buy Mobile App page */
/* Customize headings, paragraphs, and links as needed */

body {
    background-image: url('write to us background.jpg'); /* Set your background image here */
    background-size: cover;
    background-position: center;
    text-align: center; /* Center-align the content horizontally */
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 150vh; /* Center-align vertically on the entire viewport height */
}

header {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    
}

footer {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    
}

h1 {
    font-size: 35px;
    color: #f4eeee; /* Change to your preferred text color */
    text-decoration: underline;
}

h2 {
    font-size: 35px;
    color: #f4eeee; /* Change to your preferred text color */
}


p {
    font-size: 16px;
    color: #f4eeee; /* Change to your preferred text color */
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

a {
    color: #12d96f; /* Change to your preferred link color */
    text-decoration: underline;
    font-size: 18px;
    margin-top: 20px; /* Adjust the top margin as needed */
        padding: 10px 25px;
        background-color: #080101;
        color: #fff;
        border: none;
        border-radius: 50px; /* Use a high value to make it oval */
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Smooth transition for color, scale, and shadow */
        text-align: center;
        
    }
    footer {
        background-color: #333; /* Change to your preferred footer background color */
        color: #fff; /* Change to your preferred footer text color */
        padding: 20px 0;
    }

/* Add any other specific styles as needed */
